@model Aula13_ControleAutomoveis.Models.Proprietario

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar?</h3>
<div>
    <h4>Proprietario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProprietarioId" />
        <button type="submit" value="Delete" class="btn btn-danger"><i class="bi bi-file-x"></i> Deletar</button> |
        <a asp-action="Index" class="btn btn-warning"><i class="bi bi-skip-backward"></i> Voltar a lista</a>
    </form>
</div>
