@model Aula13_ControleAutomoveis.Models.Proprietario

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Proprietario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veiculos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model?.ProprietarioId"><i class="bi bi-pencil-square"></i> Editar</a>  |
    <a asp-action="Index" class="btn btn-warning"><i class="bi bi-skip-backward"></i> Voltar a lista</a>
</div>
